/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --dkpurple: #271666;  
    --navyblue: #1B3DA8;
    --purple: #7F2FF0;
    --plum: #4b0d49;
    --lplum: #8716A1;
    --hotmag: #ff17e4;
    --neongreen: #C0EE3B;
    --font-size: 1.3rem;
    --mono: "JetBrains Mono", monospace;
    --sans: "Oxygen", sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--dkpurple);
    color: white;
    font-size: var(--font-size);

}

h1,
h2,
h3 {
    margin: 0;
}

/* Estilos del INTRO */

.intro{
    padding-bottom: 10rem;
}

.intro p {

    font-size: 1rem;
    line-height: 1.5;

}

.intro .nombre{
    font-family: var(--mono);
    }

.nombre span{
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--neongreen);
    display: block;
}

.intro h2{
    font-size: 4rem;
    font-weight: normal;
}


/* FIN de ESTILOS DE INTRO */



/* Estilos del footer */

footer{
   
    background-color: var(--plum);
    position: relative;
    bottom: -30px;
}

.contact{
    text-align: center;
}

ul{
    /* display: flex;
    padding-top: 4rem;
    padding-bottom: 4rem;
 margin: 2rem 30rem; */

 list-style-type: none;
 padding: 0;
 margin: 0;
 display: flex;
 flex-flow: row wrap;
 justify-content: center;
 gap: 3rem;
 font-size: 3rem;
    
}

li{
    list-style-type: none;
}

svg{
    stroke: white;
    fill: white;
    height: 40px;
    width: 100px;
}